<li>
  <%= link_to current_user.faved?(pet) ? 'Unfave' : 'Fave', pet_fave_path(pet), remote: true, method: :post, class: 'fave' %>
  <strong><%= link_to pet.name, pet %></strong>: <%= pet.breed %> <%= pet.animal_type %><br>
  <%= pet.shelter.name %> – <em><%= pet.shelter.location %></em>
</li>
