<h4>Search for a pet by:</h4>

<%= form_tag(pets_search_path, method: :get) do %>
  <%= label_tag(:animal_type) %>
  <%= select_tag(:animal_type, options_for_select(Pet::ANIMAL_TYPES), prompt: "Select animal type") %>

  <%= label_tag(:breed) %>
  <%= text_field_tag(:breed) %><br><br>

  <%= label_tag(:age) %>
  <%= select_tag(:age, options_for_select(Pet::AGES), prompt: "Select animal age") %>

  <%= label_tag(:size) %>
  <%= select_tag(:size, options_for_select(Pet::SIZES), prompt: "Select animal size") %>

  <%= label_tag(:sex) %>
  <%= select_tag(:sex, options_for_select(Pet::SEXES), prompt: "Select animal sex") %>

  <%= label_tag(:name) %>
  <%= text_field_tag(:name) %><br><br>

  <%= label_tag(:location) %>
  <%= text_field_tag(:location) %><br><br>

  <%= submit_tag("Search") %>
<% end %>


<% if user_signed_in? %>
  <p><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'round-button' %></p>
<% end %>

<%= link_to "Go Home", root_path, class: 'round-button' %>
